@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

body {
    background: #FFF;
}

.card {
    border-radius: 30px;
    background: #DFF1DD;
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
}
.img img{
    width: 100%;
}

.footer {
    width: 150px;
    height: 38px;
    border-radius: 0px 0px 30px 30px;
    background: rgba(217, 217, 217, 0.50);
    position: absolute;
    bottom: -38px;
    display: flex;
    gap: 9px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: bottom 0.3s ease, opacity 0.3s ease;
}

.card:hover .footer {
    bottom: 0;
    opacity: 1;
}

.button-container{
    width: 23px;
    height: 23px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    transition: background 0.15s ease;
}

#copy-icon{
    position: relative;
    left: 0.8px;
}


 .button-container:hover{
    background: rgba(210, 208, 208, 0.6);
    transition: background 0.15s ease;
}

.button-container:active{
    background: rgba(210, 208, 208, 0.7);
    transition: background 0.15s ease;
}

.footer img {
    opacity: 1;
    display: block;
    width: 17px;
    height: 17px;
}

/* .footer img:hover {
    border: 3px solid rgba(198, 210, 196, 0.80);
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: rgba(198, 210, 196, 0.80);
    transition: opacity 0.15s ease;
} */

.del-button{
	background: url("/svg/del.svg") no-repeat center;
	background-size: contain;
}