.user-name {
    color: #70786F;
    font-family: Arimo;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}


.flow-href{
    color: #70786F;
    text-align: center;
    font-family: Overpass;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 13.2px */
    text-transform: uppercase;
    text-decoration: none;
}


.flow-href:hover{
    color: #70786F;
    text-align: center;
    font-family: Overpass;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 13.2px */
    text-transform: uppercase;
    text-decoration: underline;
}