<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./css/card.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="card">
      <div class="img">
        <img alt="triangle with equal sides" src="/img/0-original.png" />
      </div>
      <div class="footer">
        <div class="button-container">
          <img alt="triangle with equal sides" srcset="/svg/del.svg" />
        </div>
        <div class="button-container">
          <img
            id="copy-icon"
            alt="triangle with equal sides"
            srcset="/svg/copy.svg"
          />
        </div>
        <div class="button-container">
          <img alt="triangle with equal sides" srcset="/svg/download.svg" />
        </div>
      </div>
    </div>
  </body>
</html>
