<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/dashboard/main.css" />
    <link rel="stylesheet" href="https://unpkg.com/microtip/microtip.css" />

    <script src="https://unpkg.com/cropperjs/dist/cropper.js"></script>
    <link
      href="https://unpkg.com/cropperjs/dist/cropper.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/card.css" />

    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img src="/static/svg/LOGO.svg" alt="Logo" />
        <span>Flow</span>
      </div>
      <div class="middle-panel">
        <div class="card-container">
          <div class="container-title">
            <div class="first-line">
              <div class="user-name">{{username}}</div>
              <a
                class="flow-href"
                href="/api/img"
                onclick="event.preventDefault(); if(confirm('Вы уверены, что хотите удалить файл?')) {fetch('/api/img', {method: 'DELETE'}).then(response => response.json()).then(data => Swal.fire(data.message))}"
                >Удалить файл</a
              >
            </div>
            <div class="sec-line">
              <div class="count-of-imgs">{{imageCount}}</div>
            </div>
          </div>
          <div class="container-body">
            {% for id in objectIDs %}
            <div class="card">
              <div class="img">
                <img alt="triangle with equal sides" src="/api/img/{{ id }}" />
              </div>
              <div class="footer">
                <div class="button-container">
                  <img
                    alt="triangle with equal sides"
                    srcset="/static/svg/del.svg"
                    onclick="deleteImage('{{ id }}')"
                  />
                </div>
                <div class="button-container">
                  <img
                    id="copy-icon"
                    alt="triangle with equal sides"
                    srcset="/static/svg/copy.svg"
                    onclick="copyImage('/api/img/{{ id }}')"
                  />
                </div>
                <div class="button-container">
                  <img
                    alt="triangle with equal sides"
                    srcset="/static/svg/download.svg"
                    onclick="downloadImage('/api/img/{{ id }}')"
                  />
                </div>
                <div class="button-container">
                  <img
                    alt="triangle with equal sides"
                    srcset="/static/svg/download.svg"
                    onclick="downloadImage('/api/img/{{ id }}')"
                  />
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <script src="/static/js/card_control.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
